/* displays list items as mouse hovers over a list with id="container". */
#container {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.2);
}
#container:hover i {
  opacity: 1;
  transition: opacity .2s ease-out;
}
#container i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  text-align: center;
  opacity: 0;
  transition: opacity .2s ease-in;
}
#container canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 400px;
  border: 5px solid green;
}
